@using FluentMvcGrid

@model IEnumerable<FluentMvcGridExample.Models.Person>

@{
    ViewBag.Title = "Index";
}

@(Html.FluentMvcGrid(Model)
      .Id("table1")
      .Class("table table-striped table-hover table-bordered")
      .RowClass(item => item.Age < 18 ? "info" : string.Empty)
      .Eof(@<p>No hay registros que mostrar</p>)
      .HtmlBefore(@<h1>FluentMvcGrid</h1>)
      .HtmlAfter(@<h4><a href="http://twitter.com/panicoenlaxbox">panicoenlaxbox on twitter</a></h4>)
      .AddAttribute("style",o => "margin: 50px auto;" )
      .AddAttribute("lang", @<text>es</text>)
      .AddColumn(column => column.Format(item => item.FirstName).HeaderText("Nombre").Sortable(true).SortBy("FirstName").Class(item => "lead"))
      .AddColumn(column => column.Format(item => item.LastName).HeaderText("Apellidos").Sortable(false)
          .AddAttribute("style", item => item.LastName=="León"?"font-weight: bold;":string.Empty ))
      .AddColumn(column => column.Format(@<text>@item.Age</text>).HeaderText("Edad").HeaderClass(() => "text-right"))
      .AddFooterColumn(footerColumn => footerColumn.ColSpan(3).Format(@<text>Your text goes here...</text>))
      .Pagination(pagination =>pagination.Enabled(true).PageSize(5).PageIndex(1).TotalCount(50)))

